doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Google Analytics Reporting API - About
  link(type='text/css' href='./styles/home.css' rel='stylesheet')
#root.global-wrapper
#login.div
  a#authLogin(href=`${loginUrl}`) Please authenticate with your LDAP to gain access.
script(defer='' src='bundle.js')